<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th th:replace="fragments-table :: tableHeader"></th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.getKey()}"></td>
        <td th:text="${event.getValue()}"></td>
        <td th:replace="fragments-table :: tableAddress"></td>
    </tr>
</table>



</body>
</html>